<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8" name="description" content="SHIC club introduction site.">
      <title>SHIC</title>

      <link href='./static/css/basic.css' rel="stylesheet">
      <!-- <script type="module" src='./static/js/loginData.js'></script> -->

      <link rel="icon" type="image/png" href="./static/favicon.ico">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/> -->

      <%- include("partials/scrollBar") %>
      <%- include("partials/scrollUp") %>
   </head>
   <body>
       <%- include("partials/header") %>
       <div style="height: 3000px;"></div>
   </body>
</html>